h1 {
  text-align: center;
}
button {
  background-color: #55ad7a;
  text-align: center;
}
.buttons {
  text-align: center;
  padding-top: 50px;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  padding-bottom: 100px;
}
.main-page{
  background-color: #1e5d88;
}
.robot-face {
	width: 150px;
}
.joke-robots {
  padding-left: 200px;
}
.joke-text {
  padding: 10px;
  color: #23292e;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  width: 50%;
  font-size: 25px;
  background-color: #d5d5d5;
}
title {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
