h1 {
  text-align: center;
}
button {
  background-color: red;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
.buttons {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.main-page{
  background-color: lightblue;
}
.robot-face {
	width: 150px;
}
.joke-robots {
  padding-left: 200px;
}
.joke-text {
  padding-top: 78.75px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  width: 50%;
  font-size: 20px;
  background-color: white;
}
title {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
